<div class="tabs-container">
  <div class="tabs" >
    {% for item in items %}
    <button class="tab" {{ attributes.addClass('quickedit-field') }}>
    {{ item.content }}
    </button>
    {% endfor %}
      
  </div>
</div>


