<footer id="shop">
  <div class="container footer-info">
    <div class="container-fluid">
      <p style="padding: 1rem;  text-align: center; text-align: center; color:white;">
        © 2024 All Rights Reserved
        | <span style="color: #f9b448;"> Ned Solutions</span>
      </p>
    </div>
  </div>
  <hr />
  <a href="#myPage" title="To Top"><span style="color: #f9b448;" class="glyphicon glyphicon-chevron-up"></span></a>
</footer>