<!-- news -->
<div class="myportfolio" id="portfolio">  
      {{content}}
    </div>




    
<script>
document.addEventListener('DOMContentLoaded', function() {
    const tabSelectors = document.querySelectorAll('input[name="radio-set"]');
    const tabContents = document.querySelectorAll('.content > div');

    function showFirst8Images(contentDiv) {
        const images = contentDiv.querySelectorAll('a');
        images.forEach((image, index) => {
            image.style.display = index < 8 ? "inline-block" : "none";
        });
    }

    function switchTabContent(selectedTabIndex) {
        tabContents.forEach((content, index) => {
            content.style.display = index === selectedTabIndex ? "block" : "none";
            if (index === selectedTabIndex) showFirst8Images(content);
        });
    }

    switchTabContent(0); // Show the first tab on load

    tabSelectors.forEach((selector, index) => {
        selector.addEventListener('change', function() {
            switchTabContent(index);
        });
    });
});
</script>