{% if field_name == 'field_contact_address' %}
<div class="address" {{ attributes.addClass('quickedit-field') }}> 
    <i class="glyphicon glyphicon-globe" style="color: #f9b448;"></i>
    <p>{{ items.0.content }}</p>
</div>
{% endif %}